@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/jetbrains-mono-v24-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  /* COLOR */
  --colors-white: #ffffff;
  --colors-black: #000000;
  --colors-grey-850: #18171f;
  --colors-grey-800: #24232c;
  --colors-grey-600: #817d92;
  --colors-grey-200: #e6e5ea;
  --colors-yellow-300: #f8cd65;
  --colors-orange-400: #fb7c58;
  --colors-red-500: #f64a4a;
  --colors-green-200: #a4ffaf;
  --colors-grey-700: #54535b;
  --colors-grey-900: #14131b;
  --colors-grey-950: #08070b;

  /* SPACING */
  --spacing-100: 8;
  --spacing-200: 16;
  --spacing-300: 24;
  --spacing-400: 32;
  --spacing-700: 56;
  --spacing-1000: 80;
  --spacing-1300: 104;
  --spacing-1600: 128;
  --spacing-2000: 160;
  --spacing-2200: 176;
  --spacing-2300: 184;

  /* RADIUS */
  --corner-radius-0: 0;
  --corner-radius-4: 4;
  --corner-radius-6: 6;
  --corner-radius-8: 8;
  --corner-radius-10: 10;
  --corner-radius-12: 12;
  --corner-radius-16: 16;
  --corner-radius-20: 20;
  --corner-radius-24: 24;
  --corner-radius-full: 999;

  /* COLORS */
  --color-primary: var(--colors-green-200);

  --color-accent: var(--colors-green-200);
  --color-bg: var(--colors-grey-950);

  --color-text-header: var(--colors-grey-600);
  --color-text-body: var(--colors-grey-200);

  --color-border: var(--colors-grey-700);
  --color-bg-surface: var(--colors-grey-800);

  /* TYPOGRAPHY */
  --font-header: "JetBrains Mono", monospace;
  --font-body: "JetBrains Mono", monospace;

  /* LAYOUT */
  --container-max-width: 70rem;
  --container-width: 92%;
  --section-spacing: clamp(0.75rem, 0.662rem + 0.3756vw, 1rem);

  /* Radius */
  --radius-xs: calc(var(--corner-radius-4) / 16 * 1rem);
  --radius-full: calc(var(--corner-radius-full)/16 * 1rem);
}
/*~ ~~~~~~~~~~~~~~~~~~~~~~~~~~ ~~>
<~~           Reset            ~~>
<~~ ~~~~~~~~~~~~~~~~~~~~~~~~~~ ~*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
    overflow-x: hidden;
  }
}

body {
  background-color: var(--color-bg);
  color: var(--color-text-body);
  display: flex;
  flex-direction: column;
  font-family: var(--font-body);
  font-weight: 700;
  min-height: 100svh;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
select,
textarea {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text-header);
  font-family: var(--font-header);
  font-weight: 700;
  line-height: 1.2;
  text-wrap: balance;
}

p {
  max-width: 65ch;
  text-wrap: pretty;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  display: grid;
  place-content: center;
}

#root {
  display: grid;
  gap: clamp(1rem, 0.6479rem + 1.5023vw, 2rem);
  place-content: center;
  max-width: 540px;
  min-height: 100svh;
  width: 100%;
}

main {
  display: grid;
  gap: clamp(1rem, 0.8239rem + 0.7512vw, 1.5rem);
}

/*~ ~~~~~~~~~~~~~~~~~~~~~~~~~~ ~~>
<~~         Utilities          ~~>
<~~ ~~~~~~~~~~~~~~~~~~~~~~~~~~ ~*/

.faded {
  color: var(--colors-grey-700);
}

.card {
  background-color: var(--color-bg-surface);
}

.row {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.btn {
  background: none;
  border: none;
}

.btn--primary {
  align-items: center;
  background-color: var(--color-primary);
  border: 2px solid transparent;
  display: inline-flex;
  gap: clamp(0.5rem, 0.1479rem + 1.5023vw, 1.5rem);
  justify-content: center;
  padding-block: clamp(1rem, 0.8239rem + 0.7512vw, 1.5rem);
  text-transform: uppercase;
  width: 100%;

  &:hover {
    background-color: transparent;
    border-color: var(--color-primary);
    color: var(--color-primary);
    cursor: pointer;
  }
}

.generate-password-form {
  accent-color: var(--color-primary);
  display: grid;
  gap: 2rem;
}

.input-group {
  display: grid;
  gap: clamp(0.5rem, 0.3239rem + 0.7512vw, 1rem);
}
